{% extends "templates/base.html" %}

{% block titulo %}
Lista de Autoridades
{% endblock titulo %}

{% block contenido %}
<h3>Autoridades: </h3>
<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cargo</th>
    </tr>
    {% for autoridad in autoridades %}
    <tr>
      <td>{{ autoridad.id }}</td>
      <td>{{ autoridad.nombre }}</td>
      <td>{{ autoridad.apellido }}</td>
      <td>{{ autoridad.cargo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}