{% extends "templates/base.html" %}

{% block titulo %}
Lista Articulos
{% endblock titulo %}

{% block contenido %}
<h3>Noticias </h3>
<a href="{% url 'lista_articulos' %}">Ver todos</a>
<a href="{% url 'crear_articulo' %}">Crear articulo</a>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Cuerpo</th>
      <th>Autor</th>
      <th>Fecha</th>
    </tr>
    {% for articulo in articulos %}
    <tr>
      <td>{{ articulo.id }}</td>
      <td>{{ articulo.titulo }}</td>
      <td>{{ articulo.subtitulo }}</td>
      <td>{{ articulo.cuerpo }}</td>
      <td>{{ articulo.autor }}</td>
      <td>{{ articulo.fecha }}</td>
      <td>{{ articulo.creador }}</td>
      <td>
        <a class="btn btn-link" href="{% url "editar_articulo" articulo.id %}"> editar</a>
      </td>
      <td>
        <form action="{% url "eliminar_articulo" articulo.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-link" value="eliminar"/>
        </form>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}